
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    body {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
      
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .task-list p{
            text-align: center;
            margin-bottom: 20px;
        }
        .task-list {
            text-align: center;
        }
        #cent{
            text-align: center;
        }
        .edit a{
            text-decoration:none;
            font-size: 13px;
            padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #43db66;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 20px;
        }
        a:hover {
            text-decoration: underline;
        }
        .green-box {
        
        background-color: #4CAF50;
        color: white;
        padding: 5px;
    }
    .light-green-box {
        background-color: #d4edda;
        max-width: 100%;
         padding: 20px;
         
    }
    .anchor-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    