
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    position: relative;
    background-image: url("../Images/green.jpg");          
    margin: 0
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
    transform: translateY(-74px) translateX(-10px);

}

.main-align{
    width: 1472px;
    height: 30px;
    border-radius: 20px;
    background-color: #2c2c2c;
    padding: 20px;
    text-align: center;
    justify-content: center;
        transform: translateX(4px) translateY(20px);
}

.welcome-text {
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: -20px;
    text-align: center;
    transform: translateY(-58px);
}

.personal-info{
    width: 1472px;
    height: 30px;
    padding: 60px;
    background-color: #058b5c;
    transform: translateX(-40px);
}

.personal-info p{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transform: translateY(-100px) translateX(-10px);
}

.created-page {
    width: 1472px;
    height: 90px;
    padding: 60px;
    margin-bottom: 20px;
    background-color: #058b5c;
    transform: translateX(-40px);
}

.created-page p {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transform: translateY(-90px) translateX(-10px);
}

.h-link a {
    width: 120px;
    height: 20px;
    background-color: rgb(240, 50, 50);
    color: white;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        padding: 10px;
        border-radius: 8px;
        transform: translateX(-10px);
}

.h-link a:hover {
    background-color: rgb(243, 96, 96);
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;

}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    transform: translateX(-160px);
}

header .brand{
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.brand{
    transform: translateX(-370px);
}

header .navigation{
    position: relative;
    transform: translateX(-60px);
}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}


header .navigation .navigation-items a:hover::before{
    width: 100%;
}

.logo img {
    float: left;
    margin-left: 0px;
    padding-top: 5px;
    height: 55px;
    transform: translateX(-30px) translateY(-15px);
}